@import 'mixin';
@import 'balloon';

.page-layout {
  display: flex;
}

.valign-middle30 {
  @include valign-middle(50px);
}

.list {
  width: 100px;

  &-header {
    background-color: #fff;
  }
}

.btn {
  min-height: 10;

  &-primary {
    background-color: red;
  }
}

.routeicon {
  &-applier {
    /*
      @include sprite($sprite-applier);
    */
  }
}
