
.page-layout {
  display: flex;
}

.test {
  border-radius: 2px;
  transition: all 1em linear;
}

.list {
  width: 100px;

  &-header {
    background-color: #fff;
  }
}

.btn {
  min-height: 10;

  &-primary {
    background-color: red;
  }
}

.routeicon {
  &-applier {
    /*
      @include sprite($sprite-applier);
    */
  }
}
